{% extends 'aplicatie/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="background-image"></div> <!-- Imagine de fundal -->
    <h2>Schimbă parola</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="old_password" class="form-label">Parola veche</label>
            <input type="password" class="form-control" id="old_password" name="old_password" required>
        </div>
        
        <div class="mb-3">
            <label for="new_password1" class="form-label">Parola nouă</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1" required>
        </div>
        
        <div class="mb-3">
            <label for="new_password2" class="form-label">Confirmă parola nouă</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
        </div>
        
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}
        
        <button type="submit" class="btn btn-primary">Schimbă parola</button>
        <a href="{% url 'profile' %}" class="btn btn-secondary">Înapoi la profil</a>
    </form>
</div>
{% endblock %}