{% extends 'aplicatie/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="background-image"></div> <!-- Imagine de fundal din styles.css -->
    <div class="card">
        <div class="card-body">
            <h2 class="text-center mb-4"><img src="{% static 'images/book-icon.png' %}" alt="Adaugă Carte" class="icon me-2"> Creează o Carte</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    {% render_field field class="form-control" %}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                
                <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary">Creează</button>
                    <a href="{% url 'book_list' %}" class="btn btn-secondary">Înapoi</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}